@mixin button-disabled {
  background-color: $button-disabled-color;
  border: none;
  color: $button-font-color;
  cursor: default;
}

@mixin button-enabled {
  background-color: $button-background-color;
  border-radius: 5px;
  border: none;
  color: $button-font-color;
}

@mixin button-hover {
  background-color: $button-hover-background;
  border: none;
  color: $button-font-color;
  cursor: pointer;
}

@mixin circle-button {
  border: none;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  &:focus {
    outline: none;
  }
}

.btn {
  @include button-enabled;
  &:hover {
    @include button-hover;
  }
  &:disabled, &:disabled:hover {
    @include button-disabled;
  }
  &:focus {
    outline: none;
  }
}

#save-button {
  display: block;
  font-size: 20px;
  margin: 5px auto;
  width: 80%;
}

#show-completed {
  font-size: 14px;
  height: 42.5px;
  margin: 20px 2.5px;
  width: 20%;
}

.completed-task {
  display: inline-block;
  float: right;
  font-size: 13px;
  height: 25px;
  margin-right: 0;
  vertical-align: center;
  width: 100px;
}

#show-more {
  border-radius: 0;
  font-size: 20px;
  height: 70px;
  width: 100%;
}

.quality-btns {
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  margin: 5px auto;
  width: 100px;
  &:hover {
    color: $button-hover-background;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.downvote {
  background: url('../Images/downvote.svg');
  &:hover {
    background: url('../Images/downvote-hover.svg');
    cursor: pointer;
  }
  &:hover:disabled {
    background: url('../Images/downvote.svg');
    cursor: default;
  }
}

.upvote {
  background: url('../Images/upvote.svg');
  &:hover {
    background: url('../Images/upvote-hover.svg');
    cursor: pointer;
  }
  &:hover:disabled {
    background: url('../Images/upvote.svg');
    cursor: default;
  }
}

.upvote, .downvote {
  @include circle-button;
  margin-right: 20px;
}

.delete-task {
  background: url('../Images/delete.svg');
  @include circle-button;
  float: right;
  &:hover {
    background-image: url('../Images/delete-hover.svg');
    background-position: inherit;
    cursor: pointer;
  }
}
