#box-text {
  color: $box-logo-color;
}

#task-text {
  color: $to-do-logo-color;
}

.main-h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  height: 30px;
  margin: auto;
  padding: 20px 0 40px 0;
  text-align: center;
  width: 200px;
}

.input-section {
  background-color: $main-background-color;
  height: 340px;
  padding-bottom: 20px;
  width: 100%;
}

.input-section h1 {
  display: inline-block;
  font-size: 50px;
}

.input-section input, .input-section textarea {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  height: 40px;
  margin: 10px auto;
  width: 90%;
}

#body-input {
  height: 90px;
  margin-bottom: 5px;
}

#save-button {
  width: 90%;
}

#save-button, #search-input {
  height: 40px;
  margin: 20px auto;
}

.input-section input, .input-section textarea, .search-section input {
  font-size: 20px;
  padding-left: 5px;
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

textarea {
 resize: none;
}

.remaining-characters {
  color: $character-count-color;
  display: inline-block;
  padding-right: 3px;
}

.character-text {
  color: $character-count-color;
  display: inline-block;
}

.character-count {
  color: $character-count-color;
  display: block;
  font-weight: 200;
  text-align: center;
  width: 100%;
}
