
$main-background-color: #BCCCFB;
$box-logo-color: #4E5251;
$to-do-logo-color: #212687;

$button-background-color: #212687;
$button-font-color: white;
$button-hover-background: #565EF1;
$button-disabled-color: #BFBFBF;

$character-count-color: #000;
